@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bangers/v20/FeVQS0BTqb0h60ACL5k.ttf) format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/prompt/v10/-W__XJnvUD7dzB26Zw.ttf) format('truetype');
}
body {
  background-color: #1f1f1f;
  margin: 0;
}
.page__header .colored-line {
  background-image: linear-gradient(to right, #FFF300, #F81F72, #0060AC);
  background-repeat: no-repeat;
  width: 100%;
  height: 10px;
}
.introduction .intro__text {
  color: whitesmoke;
}
.introduction .intro__text h2 {
  font-family: 'Bangers', sans-serif;
  text-transform: uppercase;
  color: #2189CE;
  font-size: 36px;
}
.introduction .intro__text h2 span {
  color: #FFF300;
}
@media screen and (min-width: 768px) {
  .introduction .intro__text h2 {
    font-size: 42px;
  }
}
.introduction .intro__text p {
  font-family: 'Prompt', sans-serif;
  font-weight: 300;
}
.introduction .intro__text p a {
  color: #2189CE;
  text-decoration: none;
  transition: all linear 0.4s;
}
.introduction .intro__text p a:hover {
  color: #FFF300;
}
.introduction .intro__text .intro__contact {
  display: block;
  width: fit-content;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 3px solid #FFF300;
  color: #FFF300;
  padding: 15px 45px;
  font: 400 26px 'Bangers', sans-serif;
  letter-spacing: 1.2px;
  text-decoration: none;
  transition: all linear 0.4s;
  text-align: center;
}
.introduction .intro__text .intro__contact:hover {
  border: 3px solid transparent;
  background-image: linear-gradient(#FFF300, #F81F72);
  background-repeat: no-repeat;
  color: black;
  transform: translateY(-6px);
}
.introduction .portrait {
  padding-right: 30px;
  padding-bottom: 30px;
  background-image: linear-gradient(#FFF300, #F81F72, #2189CE);
  background-repeat: no-repeat;
  background-position: left 30px top 30px;
}
.introduction .social {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.introduction .social a {
  display: block;
  width: 30px;
  height: 30px;
  transition: all linear 0.4s;
}
.introduction .social a path {
  fill: #2189CE;
}
.introduction .social a:hover {
  transform: translateY(-4px);
}
.introduction .social a:hover path {
  fill: #FFF300;
}
.introduction .social a[title="github"] {
  width: 35px;
  height: 35px;
}
.tech-stack h3 {
  color: #2189CE;
  font: 400 36px 'Bangers', sans-serif;
}
.experience {
  margin-top: 40px;
  margin-bottom: 40px;
}
.experience h3 {
  color: #2189CE;
  font: 400 36px 'Bangers', sans-serif;
}
.experience .numberbox {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.experience .numberbox .number {
  font: 400 42px 'Bangers', sans-serif;
}
.experience .numberbox p {
  margin: 0;
  font: 400 20px/18px 'Bangers', sans-serif;
}
.experience .numberbox.pink {
  color: #EF69A4;
}
.experience .numberbox.yellow {
  color: #FFF300;
}
.portfolio {
  margin-top: 40px;
  margin-bottom: 40px;
}
.portfolio h3 {
  color: #2189CE;
  font: 400 36px 'Bangers', sans-serif;
}
.portfolio .row .cover img {
  transition: all linear 0.4s;
  padding-right: 7px;
  padding-bottom: 7px;
  background-color: transparent;
  background-image: linear-gradient(#2189CE, #0060AC);
  background-position: left 7px top 7px;
  background-repeat: no-repeat;
}
.portfolio .row .cover img:hover {
  padding-right: 20px;
  padding-bottom: 20px;
  background-position: left 20px top 20px;
}
.portfolio .row .description h4 {
  padding-top: 15px;
  color: #2189CE;
  font: 400 30px 'Bangers', sans-serif;
}
.portfolio .row .description p {
  color: whitesmoke;
  font: 300 15px 'Prompt', sans-serif;
}
.portfolio .row .description .live {
  margin-top: 30px;
  display: block;
  width: fit-content;
  margin-left: auto;
  padding: 10px 20px;
  border: 2px solid #FFF300;
  color: #FFF300;
  font: 500 16px 'Prompt', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  transition: all linear 0.4s;
}
.portfolio .row .description .live:hover {
  transform: translateY(-4px);
  background-image: linear-gradient(#FFF300, #FC9831);
  color: black;
  border: 2px solid transparent;
}
.about h3 {
  color: #2189CE;
  font: 400 36px 'Bangers', sans-serif;
}
.about p {
  color: whitesmoke;
}
.about .card {
  font-family: 'Prompt', sans-serif;
  background-color: black;
  border-radius: 0;
  transition: all linear 0.4s;
}
.about .card .card-img-top {
  object-fit: cover;
  object-position: center;
  height: 150px;
  border-radius: 0;
}
.about .card .card-title {
  font-size: 20px;
  color: #2189CE;
  font-family: 'Bangers', sans-serif;
}
.about .card .card-text {
  font-size: 13px;
  color: whitesmoke;
}
.about .card:hover {
  cursor: pointer;
  transform: translateY(-4px);
}
.about .card:hover .card-title {
  color: #FFF300;
}
footer .colored-line {
  background-image: linear-gradient(to left, #FFF300, #F81F72, #0060AC);
  background-repeat: no-repeat;
  width: 100%;
  height: 10px;
}
footer p {
  font: 400 16px 'Prompt', sans-serif;
  text-align: center;
  color: whitesmoke;
}
