@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Header */
header {
    margin:15% 0% 0% 0%;
}    
h1 {
    font-family:'Bebas Neue';
    text-align:center;
}

/* Body */
p {
    font-family:Lato;
    text-align:center;
}
img.footer {
     max-width:25px;
     max-height:25px;
     display: block;
     margin-left: auto;
     margin-right: auto;
}

/* ------------ SKETCHS ------------ */

/* Estrutura: Formal? */

header.top {
    max-height:20%;
    width:100%;
    margin: 0%;
    display:block;
    background-color: silver;
}
main.main {
    max-height:70%;
    margin: 0% 15% 0% 15%;
    padding: 5%;
    background-color: gray;
}
footer.bottom {
    max-height:10%;
    width:100%;
    margin: 0%;
    display:block;
    color: lightgray;
    background-color: black;
}

/* Estrutura: Informal? */
header.toptwo {
    max-height:20%;
    width:100%;
    margin: 0%;
    display:block;
    background-color: silver;
}
main.maintwo {
    max-height:70%;
    margin: 0% 15% 0% 15%;
    padding: 5%;
    background-color: gray;
}
footer.bottomtwo {
    max-height:10%;
    width:100%;
    margin: 0%;
    display:block;
    color: lightgray;
    background-color: black;
}

/* Contato */
nav.social {
    display: block;
    max-width:;
}
img.social {
    max-width:25px;
    max-height:25px;
}


