@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bebasneue/v9/JTUSjIg69CK48gW7PXooxW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v27/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvao4CP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v27/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v27/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v27/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: '215000E';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/215000e-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Kube Vertiko';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/kube-vertiko-regular.ttf') format('truetype');
}
body {
  font-size: 16px;
}
a {
  display: inline-block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.page__header {
  padding-top: 32px;
  padding-bottom: 32px;
}
.page__header h1 {
  margin-top: 250px;
  font: 400 5rem 'Bebas Neue', monospace;
  letter-spacing: 3px;
  text-align: center;
  color: #000000;
}
.page__header h1::first-letter {
  font-size: 5.5rem;
}
.page__header h1 span {
  display: inline-block;
  font-size: 4rem;
}
.page__header h1 span::first-letter {
  font-size: 3.5rem;
}
.page__header h2 {
  font: 400 1.8rem 'Bebas Neue', monospace;
  letter-spacing: 6px;
  text-align: center;
  color: #000000;
}
.page__header menu {
  display: flex;
  margin-top: 1.5rem;
  justify-content: center;
  align-items: center;
}
.page__header menu .navbar__hamburguer {
  display: block;
  width: fit-content;
  border: 1px solid #000000;
  padding: 0.7em;
  background-color: #ffffff;
  font: 400 1.1rem 'Raleway', sans-serif;
  color: #000000;
  text-align: center;
}
.page__header menu .navbar__hamburguer:hover {
  transition: all linear 0.8s;
  background-color: #000000;
  color: #ffffff;
}
.page__header .navbar__overlay {
  z-index: 3000;
  display: none;
  width: 0;
}
.page__header .navbar__overlay.open {
  display: block;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  position: fixed;
  transition: 1s;
  top: 0;
  right: 0;
  background-color: transparent;
  overflow: hidden !important;
  transition: all linear 0.5s;
}
.page__header .navbar__overlay.open .overlay__content {
  background-color: #000000;
  background-position: right 0 top 0;
  overflow-y: auto !important;
  position: absolute;
  top: 0;
  right: 0;
  width: 360px;
  height: 100%;
  transition: all linear 0.5s;
}
.page__header .navbar__overlay.open .overlay__content .overlay__close {
  float: right;
  margin-top: 42px;
  margin-right: 30px;
}
.page__header .navbar__overlay.open .overlay__content .overlay__close i {
  font-size: 20px;
  color: #ffffff;
  padding: 5px;
  border: 1px solid transparent;
}
.page__header .navbar__overlay.open .overlay__content .overlay__close:hover {
  cursor: pointer;
  border: 1px solid #ffffff;
}
.page__header .navbar__overlay.open .overlay__content .overlay__about {
  width: 100%;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.page__header .navbar__overlay.open .overlay__content .overlay__about img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center top;
  border: 1px solid #ffffff;
  border-left: 8px solid #666565;
}
.page__header .navbar__overlay.open .overlay__content .overlay__about img:hover {
  border-left: 1px solid #ffffff;
  transition: all 0.4s linear;
}
.page__header .navbar__overlay.open .overlay__content .overlay__about p {
  font: 400 18px 'Raleway', sans-serif;
  color: #ffffff;
  text-align: center;
  padding: 0 20px;
}
.page__header .navbar__overlay.open .overlay__content .overlay__links {
  padding-top: 57px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.page__header .navbar__overlay.open .overlay__content .overlay__links a {
  font: 700 18px 'Raleway', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}
.page__header .navbar__overlay.open .overlay__content .overlay__buttons {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.page__header .navbar__overlay.open .overlay__content .overlay__social {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.page__header .navbar__overlay.open .overlay__content .overlay__social a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.page__header .navbar__overlay.open .overlay__content .overlay__social a img {
  width: 25px;
  filter: brightness(0) invert(1);
}
.page__header .navbar__overlay.open .overlay__content .overlay__social a:hover {
  border: 1px solid #c5bcbc;
  background-color: rgba(255, 255, 255, 0.9);
}
.page__header .navbar__overlay.open .overlay__content .overlay__social a:hover img {
  filter: none;
}
@media screen and (min-width: 1200px) {
  .page__header h1 {
    margin-top: 80px;
  }
}
.page__footer {
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
  max-width: 452px;
  border-top: 1px solid #000000;
  padding-top: 19.2px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page__footer img {
  width: 250px;
}
.page__footer p {
  width: fit-content;
  background-color: #ffffff;
  padding: 0.3em;
  font: 400 1rem 'Raleway', sans-serif;
  text-align: center;
}
.page__projects {
  padding-top: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.page__projects header {
  padding-top: 16px;
  padding-bottom: 8px;
}
.page__projects header h2 {
  font: 400 2rem 'Bebas Neue', monospace;
  background-color: #ffffff;
  padding: 0.5em;
}
.page__projects nav {
  display: flex;
  width: 100%;
  min-width: 360px;
  max-width: 450px;
  flex-direction: column;
  gap: 0.4rem;
}
.page__projects nav a {
  transition: all linear 0.8s;
  display: block;
  width: 100%;
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-left-color: #666565;
  border-left-width: 8px;
}
.page__projects nav a .category {
  display: block;
  margin-bottom: 0.5rem;
  font: 400 1.1rem 'Raleway', sans-serif;
  letter-spacing: 1px;
  color: #000000;
  text-align: right;
}
.page__projects nav a .title {
  display: block;
  font: 400 1.4rem 'Raleway', sans-serif;
  color: #000000;
  text-align: left;
}
.page__projects nav a:hover {
  transition: all linear 0.8s;
  background-color: #000000;
  border: 1px solid #ffffff;
}
.page__projects nav a:hover .category,
.page__projects nav a:hover .title {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .page__projects:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .page__projects:nth-child(odd) a {
    border-left-color: #000000;
    border-left-width: 1px;
    border-right-color: #666565;
    border-right-width: 8px;
  }
  .page__projects:nth-child(odd) a .category {
    text-align: left;
  }
  .page__projects:nth-child(odd) a .title {
    text-align: right;
  }
}
.page__about {
  color: #ffffff;
}
body {
  min-height: 100vh;
  background-image: url('../img/city-black.jpg'), url('../img/otter-black.png');
  background-position: bottom -125px left 0, top 50px right 12%;
  background-size: 450px, 
        200px;
  background-repeat: no-repeat;
  background-color: #ffffff;
}
body.theme__dark {
  background-image: url('../img/bg-t.jpg'), url('../img/bg2-t.png');
  background-color: #000000;
}
body.theme__dark .page__header h1 {
  color: #ffffff;
}
body.theme__dark .page__header h2 {
  color: #ffffff;
}
@supports (background-image: url('../img/otter-black.webp')) {
  body {
    background-image: url('../img/city-black.webp'), url('../img/otter-black.webp');
  }
}
