// out: false

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@100;200;300;400&display=swap');


@font-face {
    font-family: '215000E';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/215000e-regular.ttf') format('truetype');
}   

@font-face {
    font-family: 'Kube Vertiko';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/kube-vertiko-regular.ttf') format('truetype');
}   