// out: false
@import "../base/__pallete.less";

<<<<<<< HEAD
// * Projects Section
.page__projects {
    padding-top: 2rem;
=======

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Raleway:wght@200;400;800&family=Nothing+You+Could+Do&family=Cutive+Mono&display=swap');

    @fontHeader: 'Oswald', sans-serif;
    @fontMain: 'Raleway', sans-serif;
    @fontMono: 'Cutive Mono', monospace;

    @fontColorMain: rgb(248, 248, 248);
    @linkColor: rgba(60,145,230,1.0);
    @linkHighlight: blue;
    @colorLighter: rgba(248, 248, 248, 0.8);

    @borderRadius: 1rem;
    @backgroundColor: rgba(29, 29, 29, 0.85);

    @transition: all 0.7s ease;
    @up: translateY(-3px);

/* structures */
.flexCenter() {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}
.flexBetween() {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}


/** GENERAL **/
html {
    background-image: url(../img/tudor-baciu.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(74, 59, 182, 0.7);
    filter: grayscale(40%);
}
body {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    color: @fontColorMain;
    font-family: @fontMain;
    filter: grayscale(0);
}

/* links */
.link {
    transform: @up;
    color: @linkHighlight;
    background-color: @colorLighter;
    transition: @transition;
}  

/**
    INDEX
**/

.page__navbar {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 1rem 3rem;
>>>>>>> 0992db604aeeeb67977c6c7b7fd4e9919e6bb683

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    header {
        padding-top: 1rem;
        padding-bottom: 0.5rem;

        h2 {
            font: 400 2rem @fontK;
            background-color: @white;
            padding: 0.5em;
        }
    }

    nav {
        display: flex;
        width: 100%;
        min-width: 360px;
        max-width: 450px;
        flex-direction: column;
        gap: 0.4rem;

        a {
            transition: @transition;
            display: block;
            width: 100%;
            padding: 30px;
            background-color: @white;
            border: 1px solid @black;
            border-left-color: @granite;
            border-left-width: 8px;

            .category {
                display: block;
                margin-bottom: 0.5rem;
                font: 400 1rem @fontK;
                color: @black;
                text-align: right;
            }

            .title {
                display: block;
                font: 400 1.4rem @fontK;
                color: @black;
                text-align: left;
            }

            &:hover {
                transition: @transition;

                background-color: @black;
                border: 1px solid @white;

                .category,
                .title {
                    color: @white;
                }                
            }
        }
    }

    @media screen and (min-width: 768px) {
        &:nth-child(odd) {
            flex-direction: row-reverse;

            a {
                border-left-color: @black;
                border-left-width: 1px;
                border-right-color: @granite;
                border-right-width: 8px;

                .category {
                    text-align: left;
                }

                .title {
                    text-align: right;
                }
            }
        }
    }
}

// * Previous/Next Section
.page__next {
    padding-top: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    a {
        padding: 0.3em;
        font: 400 1.6rem @fontK;
        background-color: @white;
        color: @black;

        &:hover {
            transition: @transition;
            background-color: @black;
            color: @white;
        }
    }
    
    @media screen and (min-width: 992px) {
        justify-content: center;
    }
}

.page__previous {
    .page__next();
    justify-content: flex-start;
}

// * Footer 
.page__footer {
    margin-top: 4.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 552px;
    border-top: 2px solid @black;
    padding-top: 1.2rem;
    padding-bottom: 1rem;

    p {
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        padding: 0.3em;
        background-color: @white;
        font: 400 16px @fontK;
        text-align: center;
    }
}