@font-face {
  font-family: 'Cutive Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cutivemono/v9/m8JWjfRfY7WVjVi2E-K9H5RF.ttf) format('truetype');
}
@font-face {
  font-family: 'Nothing You Could Do';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nothingyoucoulddo/v10/oY1B8fbBpaP5OX3DtrRYf_Q2BPB1SnfZb0OJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v40/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v40/TK3_WkUHHAIjg75cFRf3bXL8LICs1y9ogUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtapYCP.ttf) format('truetype');
}
/** resets **/
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul {
  margin: 0.1rem;
  padding: 0;
}
li {
  list-style-type: none;
  padding: 0.1rem;
}
a {
  text-decoration: none;
}
/* structures */
.flexCenter {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}
.flexBetween {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}
/** GENERAL **/
html {
  background: url(../img/tudor-baciu.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: rgba(74, 59, 182, 0.7);
  filter: grayscale(40%);
}
body {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  color: #f8f8f8;
  font-family: 'Raleway', sans-serif;
  filter: grayscale(0);
}
/* links */
.link {
  transform: translateY(-3px);
  color: blue;
  background-color: rgba(248, 248, 248, 0.8);
  transition: all 0.7s ease;
}
/**
    INDEX
**/
.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 1rem 3rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo .fa-code {
  color: #3dbf8b;
  font-size: 1.5rem;
}
.navbar .links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1.5rem;
}
.navbar .links ul li {
  list-style-type: none;
}
.navbar .links ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.3rem;
}
.navbar .links ul li a:hover {
  transition: all 0.5s ease-in-out;
}
header {
  display: flex;
  justify-content: center;
}
header .welcome-section {
  min-height: 60vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  filter: grayscale(0);
}
header .welcome-section .welcome-section__portrait {
  z-index: 10;
  padding: 0.5rem;
}
header .welcome-section .welcome-section__portrait a:hover img {
  transition: all 0.3s ease-in-out;
  transform: translateY(-7px);
}
header .welcome-section .welcome-section__portrait a img {
  display: inline-block;
  width: 170px;
  border-radius: 50%;
  padding: 4px;
  background-color: black;
  margin-bottom: -50px;
}
header .welcome-section .welcome-section__text {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  text-align: center;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: rgba(29, 29, 29, 0.85);
  z-index: 5;
}
header .welcome-section .welcome-section__text .title {
  font-size: 3rem;
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
}
header .welcome-section .welcome-section__text .subtitle {
  margin: 0;
  font-weight: 200;
}
header .welcome-section .welcome-section__text .skills {
  font-size: 1.5rem;
}
header .welcome-section .welcome-section__text .skills a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.15em;
  padding: 0 0.4rem;
}
header .welcome-section .welcome-section__text .skills a .fa-css3,
header .welcome-section .welcome-section__text .skills a .fa-vuejs {
  font-size: 0.85em;
}
header .welcome-section .welcome-section__text .skills a:hover {
  transition: all 0.3s ease-in-out;
  transform: translateY(-4px);
}
header .welcome-section .welcome-section__text .skills a:nth-child(1):hover {
  color: #47b6cc;
}
header .welcome-section .welcome-section__text .skills a:nth-child(2):hover {
  color: #3dbf8b;
}
header .welcome-section .welcome-section__text .skills span {
  padding: 0 0.5rem;
}
header .welcome-section .welcome-section__text .welcome-section__navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  margin: 0.5rem 0 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 200;
  text-transform: uppercase;
  gap: 1rem;
}
