@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Raleway:wght@200;400;800&family=Nothing+You+Could+Do&family=Cutive+Mono&display=swap');

    @backgroundPhoto: url(../img/tudor-baciu.jpg);
    @backgroundPhotoCover: @backgroundPhoto no-repeat center center fixed;
    @backgroundFail: rgba(74, 59, 182, 0.7);

    @fontHeader: 'Oswald', sans-serif;
    @fontMain: 'Raleway', sans-serif;
    @fontMono: 'Cutive Mono', monospace;

    @fontColorMain: rgb(248, 248, 248);
    @linkColor: rgba(60,145,230,1.0);
    @linkHighlight: blue;
    @colorLighter: rgba(248, 248, 248, 0.8);

    @borderRadius: 1rem;
    @backgroundColor: rgba(29, 29, 29, 0.85);

    @transition: all 0.7s ease;
    @up: translateY(-3px);

/** resets **/
*,
*::before,
*::after {box-sizing: border-box;}
body {margin: 0;}
ul {margin: 0.1rem; padding: 0;}
li {list-style-type: none; padding: 0.1rem}
a {text-decoration: none;}

/* structures */
.flexCenter {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}
.flexBetween {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}

/** GENERAL **/
html {
    background: @backgroundPhotoCover;
    background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    background-color: @backgroundFail;
    filter: grayscale(40%);
}
body {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    color: @fontColorMain;
    font-family: @fontMain;
    filter: grayscale(0);
}

/* links */
.link {
    transform: @up;
    color: @linkHighlight;
    background-color: @colorLighter;
    transition: @transition;
}

/**
    INDEX
**/

.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 1rem 3rem;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    .logo {
        .fa-code {
            color: rgb(61, 191, 139);
            font-size: 1.5rem;
        }
    }


    .links {
        ul {
            margin: 0;
            padding: 0;

            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 1.5rem;

            li {
                list-style-type: none;

                a {
                    text-decoration: none;
                    color: #ffffff;
                    font-size: 1.3rem;

                    &:hover {
                        transition: all 0.5s ease-in-out;
                    }
                }
            }
        }
    }
}

header {
    display: flex;
    justify-content: center;

    .welcome-section {
        min-height: 60vh;
        .flexCenter();
        filter: grayscale(0);

        .welcome-section__portrait {
            z-index: 10;
            padding: 0.5rem;

            a {
                &:hover {
                    img {
                        transition: all 0.3s ease-in-out;
                        transform: translateY(-7px);
                    }
                }

                img {
                    display: inline-block;
                    width: 170px;
                    border-radius: 50%;
                    padding: 4px;
                    background-color: black;
                    margin-bottom: -50px;
                }
            }
        }

        .welcome-section__text {
            .flexCenter();
            gap: 1rem;
            text-align: center;
            padding: 2rem;
            margin: 1rem;
            border-radius: @borderRadius;
            background-color: @backgroundColor;
            z-index: 5;

            .title {
                font-size: 3rem;
                margin: 0;
                font-weight: 800;
                text-transform: uppercase;
            }

            .subtitle {
                margin: 0;
                font-weight: 200;
            }

            .skills {
                font-size: 1.5rem;

                a {
                    display: inline-block;
                    color: #ffffff;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: 0.15em;
                    padding: 0 0.4rem;

                    .fa-css3,
                    .fa-vuejs {
                        font-size: 0.85em;
                    }

                    &:hover {
                        transition: all 0.3s ease-in-out;
                        transform: translateY(-4px);
                    }

                    &:nth-child(1):hover {
                        color: rgb(71, 182, 204);
                    }
                    &:nth-child(2):hover {
                        color: rgb(61, 191, 139);
                    }
                }

                span {
                    padding: 0 0.5rem;
                }
            }

            .welcome-section__navbar {
                .flexBetween();
                margin: 0.5rem 0 0.5rem 0;
                font-size: 1.5rem;
                font-weight: 200;
                text-transform: uppercase;
                gap: 1rem;
            }
        }
    }
}

main {

}
