// out: false

.page__blog {
    padding-bottom: 60px;
    background-color: whitesmoke;

    .blog__heading {
        padding: 60px 0 40px 0;

        h2 {
            color: #121212;
            font: 700 46px @font;
            text-align: center;
            margin-bottom: 16px;
        }

        p {
            color: #121212;
            font: 400 18px @font;
            padding-left: 30px;
            padding-top: 8px;
            padding-bottom: 8px;
            border-left: 2px solid #121212;
        }
    }

    .owl-carousel.owl-theme.blog__carousel {
        max-width: 380px;
        width: 100%;

        .item {
            a {
                color: #F35151;
                font: 700 20px @font;
            }

            .date {
                margin-top: 16px;
                color: #121212;
                font: 500 14px @font;
            }
        }

        .owl-dots {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 20px;

            .owl-dot {
                span {
                    background-color: #121212;
                    width: 30px;
                    border-radius: 0;
                    height: 8px;
                    transition: all linear .15s;
                }

                &.active {
                    span {
                        height: 16px;
                    }
                }
            }
        }
    }

    .blog__footer {
        margin-top: 46px;

        a {
            display: block;
            padding: 20px 40px;
            width: fit-content;
            color: #121212;
            background-color: transparent;
            text-transform: uppercase;
            font: 500 16px @font;
            border: 2px solid #121212;
            transition: all linear .15s;

            &:hover {
                background-color: #F35151;
                border-color: #F35151;
            }
        }
    }

    @media screen and (min-width: 768px) {
        background-image: url('../img/home/background-9.jpg');
        background-repeat: no-repeat;
        background-position: right 0 bottom -140px;
        background-attachment: fixed;
        background-size: 50% auto;

        .blog__heading {
            h2 {
                text-align: left;
            }
        }

        .owl-carousel.owl-theme.blog__carousel {
            .owl-dots {
                justify-content: flex-start;

                .owl-dot {
                    &:nth-child(1) {
                        span {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}
