// out: false

.page__projects {
    //padding-bottom: 60px;
    background-color: rgb(18, 18, 18);
    display: grid;
    place-items: center;

    .projects__heading {
        padding-top: 36px;
        padding-bottom: 36px;

        display: flex;
        flex-direction: column;
        gap: 30px;

        h2 {
            color: whitesmoke;
            font: 700 46px @font;
            text-align: center;
            text-transform: uppercase;
        }

        p {
            color: whitesmoke;
            font: 400 18px @font;
            padding-left: 30px;
            padding-top: 8px;
            padding-bottom: 8px;
            border-left: 2px solid #F35151;
        }

        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
    }

    .projects__grid {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;

        .project__card {
            cursor: pointer;
            figure {
                display: block;
                position: relative;
                overflow: hidden;
                height: 220px;

                .cover {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    transition: all linear .4s;
                    filter: saturate(0);
                }

                .overlay {
                    z-index: 1;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(243, 81, 81, .6);
                    transition: all linear .5s;
                }

                .project__title {
                    z-index: 2;
                    position: absolute;
                    bottom: -100%;
                    left: 0;
                    opacity: 0;
                    display: block;
                    text-align: center;
                    width: 100%;
                    transition: all ease-in-out .5s;
                    .name {
                        width: 100%;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        padding: 30px 30px 6px 30px;
                        background-color: #121212;
                        color: whitesmoke;
                        font: 700 26px @font;
                        text-transform: uppercase;
                    }
                    .tech {
                        padding-bottom: 10px;
                        color: #c5c5c5;
                        font: 400 16px @font;
                        background-color: #121212;
                        width: 100%;
                        display: block;
                    }
                }
            }

            &:hover {
                figure {
                    .cover {
                        transform: scale(1.2);
                        filter: none;
                    }

                    .overlay {
                        opacity: 0;
                    }

                    .project__title {
                        opacity: 1;
                        bottom: 0;
                    }
                }
            }
        }
        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
    
        @media screen and (min-width: 1200px) {
            grid-template-columns: repeat(4, 1fr);
            gap: 0;
    
            .project__card {
                figure {
                    height: 400px;
                }
            }
        }
    }
    
    .projects__grid--highlighted {
        .projects__grid();
        @media screen and (min-width: 1200px) {
            grid-template-columns: 1fr 1fr;
        }
    }
}