// out: false
@import "../base/__pallete.less";

// * Resets
body {
    font-size: 16px;
}

a {
    display: inline-block;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}