// out: false

/** resets **/
*,
*::before,
*::after {box-sizing: border-box;}
body {margin: 0;}
ul {margin: 0.1rem; padding: 0;}
li {list-style-type: none; padding: 0.1rem}
a {text-decoration: none;}